################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin/Debug
/obj/
obj/
# Ignore Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
packages/
/packages/